<launch>
  <!-- Node that publishes octomap -->
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" />

  <arg name="nao_ip" default="$(optenv NAO_IP 127.0.0.1)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  <node pkg="naoqi_sensors_py" type="octomap.py" name="naoqi_octomap" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" output="screen"/>
</launch>
