<launch>
  <!--
    start Nao control and sensor nodes so that they connect to a local NaoQI
    (e.g. a local simulated one or when running directly on the robot).

    For a remote connection, change IP and port accordingly in the NAO_IP and NAO_PORT 
    environment variables.
  -->

  <!--
  	This pushes the local PYTHONPATH into the launch file, so that the NaoQI API is found.
    You need to add the Nao's API dir to your PYTHONPATH so that the modules are found.
  -->
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" />

  <arg name="nao_ip" default="$(optenv NAO_IP 127.0.0.1)" doc="Robot IP address. On robot or Local NaoQI" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" doc="NaoQI port number" />

  <arg name="use_odometry" default="true" doc="flag to publish odometry from naoqi_driver default:true "/>

    <node pkg="naoqi_driver_py" type="naoqi_joint_states.py" name="naoqi_joint_states" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)">
        <param name="use_odometry" type="bool" value="$(arg use_odometry)" />
    </node>

  <!-- start robot agnostic nodes -->
  <node pkg="naoqi_driver_py" type="naoqi_moveto.py" name="naoqi_moveto" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" output="screen"/>
  <node pkg="naoqi_driver_py" type="naoqi_logger.py" name="nao_logger" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />
</launch>
